
        <main>
            <img id="sadFaceImg"
                src="https://cdn3.iconfinder.com/data/icons/pictomisc/100/sadface-512.png"
                alt="sad face" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
  
  